:root {
  --light-color: #f5f5f5;
  --dark-color: #555;
}

body {
  background: var(--light-color);
  color: var(--dark-color);
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#notSupported {
  background: rgba(255, 0, 0, 0.1);
  color: rgba(255, 0, 0, 0.7);
  line-height: 1.25rem;
  padding: .5rem;
}

#fileInput {
  opacity: 0;
}

#preview {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

#preview label {
  font-weight: bold;
}

#preview img {
  max-width: 400px;
}

#theme {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5rem;
}

#value {
  display: flex;
  justify-content: center;
  margin: .5rem 0;
}

.color {
  width: 120px;
  height: 65px;
  border: 1px solid var(--dark-color);
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--dark-color);
    color: var(--light-color);
  }

  .color {
    border-color: var(--light-color);
  }
}